{% extends "base.html" %}
{% load static %}
{% block title %}Hub{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "hub/index.css" %}">
    <link rel="stylesheet" href="{% static "hub/vinyl.css" %}">
{% endblock %}



{% block content %}
   

    <section id="welcome">
        <header>
            <img src="{% static "hub/pics/logo.jpg"%}" alt="VinylVault Logo" />
            <h2>Welcome to VinylVault</h2>  
        </header>

        <p>Here you can find all the information you need about your vinyl collection. You can add, edit and delete records, and search for records by artist, album or genre.</p>
    </section> 
    <section id="latest additions">
        <h2>New vinyls</h2>
            <ul> 
                {% for vinyl in vinyls%}
                    {% include "hub/includes/vinyl.html" %}
                {% endfor %}
            </ul>
      

    </section>

    <section> 
        <h2> About Us </h2>
        <p> VinylVault is a project created by the students of the Code Institute. </p>
    </section>

{% endblock %}