{% extends "base.html" %}
{% load static %}

{% block title %}
    Rate Vinyl
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "hub/vinyldetail.css" %}">
    <link rel="stylesheet" href="{% static "hub/rating.css" %}">
{% endblock %}

{% block content %}
<div id="ratings">
    <h2>Rate {{ vinyl.title }}</h2>
    <form id="rating-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Rating</button>
    </form>
</div>


{% endblock %}
