{% extends "base.html" %}
{% load static %}

{% block title%}
    {{ vinyl.title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "hub/vinyldetail.css" %}">
{% endblock %}

{% block content %}

<section id="summary">
    <img src="{{vinyl.image.url}}" alt="Vinyl Cover" />
    <h2> {{vinyl.title}} </h2>
    <div> 
       {% for tag in vinyl_tags %}
            <span class="tag"> {{ tag.caption }} </span>
        {% endfor %}
    </div>
    <p> Artist: {{ vinyl.artist }} </p>\
    <p> Album: {{ vinyl.album }} </p>
    <p> Genre: {{ vinyl.genre }} </p>
    <p> Year: {{ vinyl.year }} </p>
</section>

{% endblock %}