{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ vinyl.title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "hub/vinyldetail.css" %}">
{% endblock %}

{% block content %}
<section id="summary">
    <div class="summary-content">
        <img src="{{ vinyl.image.url }}" alt="Vinyl Cover" class="vinyl-cover">
        <div class="summary-details">
            <h2>{{ vinyl.title }}</h2>
            <div class="tags">
                {% for tag in vinyl.tags.all %}
                    <span class="tag">{{ tag.caption }}</span>
                {% endfor %}
            </div>
            <p><strong>Price:</strong> {{ vinyl.price }}$</p>
            <p><strong>Artist:</strong> {{ vinyl.artist.name }}</p>
            <p><strong>Genre:</strong> {{ vinyl.genre }}</p>
            <p><strong>Year:</strong> {{ vinyl.year }}</p>
            <p><strong>Rating:</strong> {{ vinyl.rating }}</p>
            <a href="{% url 'add_to_cart' vinyl.id %}" class="btn-buy-now">Buy Now</a>
        </div>
    </div>
</section>
{% endblock %}
