{% load static %}
{% load custom_tags %} <!-- Load custom template tags -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>  <!-- Title block -->

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'app.css' %}">

    <!-- Additional stylesheets block -->
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <!-- Header Section -->
    <header class="mainnav">
        <nav>
            <!-- Logo Container -->
            <div class="logo-container">
                <!-- Logo -->
                <a href="{% url 'index' %}">
                    <img src="{% static 'logo.jpg' %}" alt="Logo" class="logo" style="width: 5rem; height: 5rem;">
                </a>
            </div>
             
            <!-- Navigation Links -->
            <div class="nav-links">
                <!-- Cart Icon Container -->
            <div class="cart-container">
                <a href="{% url 'view_cart' %}">
                    <img src="https://cdn-icons-png.flaticon.com/512/833/833314.png" alt="Cart" class="cart-icon" style="width: 2rem; height: 2rem;">
                </a>
            </div>
                <button onclick="location.href='{% url 'items' %}'">Collection</button>
                {% if request.user.is_authenticated %}
                    <!-- Admin Links Dropdown -->
                    {% if request.user.is_staff %}
                        <div class="dropdown">
                            <button class="dropbtn">Admin Actions</button>
                            <div class="dropdown-content">
                                <a href="{% url 'add_vinyl' %}">Add Item</a>
                                <a href="{% url 'add_artist' %}">Add Artist</a>
                                <a href="{% url 'add_tag' %}">Add Tag</a>
                                <a href="{% url 'manage_content' %}">Manage</a>
                            </div>
                        </div>
                    {% endif %}

                    <!-- PrivUser Links Dropdown -->
                    {% if request.user|has_group:"PrivUser" %}
                        <div class="dropdown">
                            <button class="dropbtn">PrivUser Actions</button>
                            <div class="dropdown-content">
                                <a href="{% url 'add_vinyl' %}">Add Vinyl</a>
                                <a href="{% url 'add_artist' %}">Add Artist</a>
                                <a href="{% url 'add_tag' %}">Add Tag</a>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Account Link -->
                    <button onclick="location.href='{% url 'userpage' %}'">Account</button>
                    <!-- Logout Link -->
                    <button onclick="location.href='{% url 'logout' %}'">Logout</button>
                {% else %}
                    <!-- Login Link -->
                    <button onclick="location.href='{% url 'login' %}'">Login</button>
                {% endif %}
            </div>
        </nav>
    </header>

    <!-- Main Content Block -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer Section -->
    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2024 VinylVault. All rights reserved.</p>
            <nav>
                <button id="scroll-to-top">Top</button>
            </nav>
        </div>
    </footer>

    <!-- JavaScript Libraries and Scripts -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Additional scripts -->
    <script src="{% static 'hub/colorchange.js' %}" defer></script>
    <script src="{% static 'hub/main.js' %}" defer></script>
    <!-- Dropdown functionality script -->
    <script src="{% static 'hub/dropdown.js' %}" defer></script>
    <script src="{% static 'hub/colorchangedetail.js' %}" defer></script>
</body>
</html>
