{% load static %} <!-- to load static files -->    

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}
        
        {% endblock %}</title>  <!-- used block because  -->

        <link rel="stylesheet" href="{% static "app.css" %}">
       
        {% block stylesheets %}

        {% endblock %}
</head>
<body>
    <header class="mainnav"> 
        
        <nav>
            <a href="{% url "index" %}"><img src="{% static "logo.jpg" %}" alt="Logo" class="logo" style="width: 5rem; height: 5rem;"></a>
            <a href="{% url "items"%}">Hub</a>
            <span> Hello, {{request.user}} </span>
            {% if request.user.is_staff %}
                <a href="{% url 'add_vinyl' %}">ADD ITEM</a>
                <a href="{% url 'add_artist' %}">ADD ARTIST</a>
            {% endif %}
            <span><a href="{% url 'logout' %}">Logout</a></span>
        </nav>

    </header>
    {% block content %}
    
    {% endblock %}
    <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2024 VinylVault. All rights reserved.</p>
            <nav>
                <a href="{% url 'items' %}">Hub</a>
            </nav>
        </div>
    </footer>
</body>
</html>
