#welcome {
  background: linear-gradient(to right top, #0000ff, #ff4800);
  /* Change the background gradient colors */
  padding: 6rem 12%;
}

#welcome img {
  /* Change the border color */
  border: 5px solid black;
  /* Change the background color */
  background-color: #ffff00;
  /* Change the box shadow color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#welcome h2 {
  /* Change the font color */
  color: #000000;
}

#welcome p {
  /* Change the font color */
  color: #000000;
}

#latest-posts {
  /* Change the background color */
  background-color: #ffffff;
  /* Change the box shadow color */
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.8);
}

#latest-posts h2 {
  /* Change the text color */
  color: #ff00ff;
}

#latest-posts li {
  /* Change the flex property */
  flex: 2;
}

#about {
  /* Change the background color */
  background-color: #ff00ff;
}

#about h2 {
  /* Change the font color */
  color: #0000ff;
}

#about p {
  /* Change the font color */
  color: #ffffff;
}

#header {
  /* Change the background color */
  background-color: #000000;
}

.header .logo {
  /* Add the desired width and height for the logo */
  width: 2rem;
  height: 2rem;
}
#header .menu a {
  /* Change the font color */
  color: #ffffff;
}

#header .menu a:hover {
  /* Change the hover color */
  color: #ff00ff;
}

